#main-content h1 {
	font-size: 55px;
	margin: 0px;
	padding-left: 40px;
	padding-right: 20px;
}


#mapcanvas{
position: relative;
margin: 0;
padding: 0;
height: 100%;

}

#searchBox1{
position: absolute;
top:90%;
left:1%;
width:35%;
  font-size: 30px;
  z-index:3;
}

#searchBox2{
top:90%;
left: 38%;
width:35%;
position: absolute;
  font-size: 30px;
  z-index:2;
}
